.about {
  display: flex;
  justify-content: space-between;

  &__title {
    align-self: flex-start;
  }

  &__content {
    width: 60%;

    @include mobile {
      width: 100%;
    }
  }

  &__text {
    // @include fluid-text(25, 20);
    text-align: justify;

    &:first-child {
      border-bottom: 1px solid var(--color-accent);
      padding-bottom: var(--section-padding-y);
    }

    &:last-child {
      padding-top: var(--section-padding-y);
    }
  }

  @include mobile {
    flex-direction: column;
  }
}
